@import '../../mixin';
// @import '../../variables';

.hamburger {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 25px;
  position: absolute;
  right: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  @include respond(tablet) {
    display: flex;
    right: 20px;
    width: 18px;
  }
  @include respond(mobile) {
    right: 10px;
  }
  &--active {
    display: flex;
  }

  &__button {
    &,
    &::before,
    &::after {
      display: block;
      background-color: $colorWhite;
      position: absolute;
      height: 2.2px;
      width: 23px;
      border-radius: 2px;
      transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
      @include respond(tablet) {
        height: 2px;
        // width: 18px;
        margin-bottom: 2px;
        width: 18px;
      }
      @include respond(mobile) {
        margin-bottom: 0;
        // height: 2px;
      }
    }
    &::after {
      content: '';
      margin-top: 6px;
      @include respond(tablet) {
        margin-top: 4px;
      }
      @include respond(mobile) {
        // margin-top: 4px;
      }
    }
    &::before {
      content: '';
      margin-top: -6px;

      @include respond(tablet) {
        margin-top: -4px;
      }
      @include respond(mobile) {
        // margin-top: -4px;
      }
    }
    &--close {
      background: rgba(255, 255, 255, 0);
      &::after {
        background: $colorOrange;
        margin-top: 0px;
        transform: rotate(-45deg);
        transition: transform 0.4s ease-in-out;
      }
      &::before {
        background: $colorOrange;
        margin-top: 0px;
        transform: rotate(45deg);
        transition: transform 0.4s ease-in-out;
      }
    }
  }
}
