include ../component/_range
header.header 
  .container.top-bar
    a(href='')
      h1.logo.logo-header
        .logo-top.logo__text-header PetStory
        .logo-bottom 
          .logo__text-header online
          img(src=`../images/logo.svg`).logo__img
    .menu.menu-head 
      .menu__list.menu__list--head
        .logo.logo--filter
          .logo-top.logo__text PetStory
          .logo-bottom 
            .logo__text online
            img(src=`../images/logo.svg`).logo__img
        li.menu__item.menu__item--active
          a(src='#') About
        li.menu__item
          a(src='#') Map
        li.menu__item
          a(src='/zoos.html') Zoos
        li.menu__item
          a(src='/zoos.html') Donate
        li.menu__item
          a(src='#') Contact us
        li.menu__item.menu__item--end
          a(src='https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online') Designed by ©
        //- li.menu__item.menu__item-hide
      //- li.menu__item.menu__item--end
      //-   a(src='#') Designed by ©
    .hamburger
      .hamburger__button
.section.hero
  .container
    .hero__wrapper
      .hero__content
        //- .hero__img
        //- .hero__round-wrapper
        h2.hero__title Watch your #[strong favorite] animal online
      .btn.hero__btn
        a(src='#') watch online
//- section.donate
  .container.donate__content 
    .donate__desc-title THE ZOO HAS OFFICIALLY REOPENED BUT WE STILL NEED YOUR HELP!
    .donate__desc-subtitle Even though the Zoo has been able to reopen, we are at a greatly reduced capacity with educational programs and public and private events cancelled or postponed for additional months. We need you now more than ever to help ensure that we overcome these challenges. We have been actively raising funds in the community, and we are grateful for the generosity.  But much more support is still needed, and we need your help! Please consider a gift today – no matter what size – to help us sustain our mission.
    .donate__title Donation Information
    .donate__form
      .donate__widget
        .donate__form-title Pick and feed a friend
        .donate__form-subtitle We know the animals bring you joy, and in these extraordinary times, we’re glad.
        .donate__panda-wrapper        
          .donate__count 
            .donate__count-number 
              p 4
              .donate__count-desc Panda diet for the day.                        
            .donate__x 
              img(src="/images/x_icon.svg", alt="")
          .donate__panda
            img(src="/images/panda_icon.svg", alt="")
        .donate__text-amount Amount
        +range()
        //- input(type="range").donate__range
        .donate__pay
          .donate__pay-input
            input(type="text" placeholder='Another amount').input.input-amount            
            img(src="/images/dollar.svg", alt="").donate__pay-dollar 
          .donate__type
            .donate__radio-wrapper
              .radio-item
                input(type="radio" id="radio01" name="radio")
                label(for="radio01").radio__label
                  span                 
                  p.radio__text Monthly
              .radio-item
                input(type="radio" id="radio02" name="radio")
                label(for="radio02").radio__label
                  span                 
                  p.radio__text Once
          .btn.donation__btn 
            a(src='#') Feed a friend now
        p.donate__text Share with your friends on social networks 
.section.about 
  img(src=`../images/flower.png`).about__flower
  .container 
    .about__grid
      .about__img-wrapper
        //- img(src="../images/about.png", alt="").about__img
        .about__img
      .grid__left.about__content
        .about__title.common__h2title The Backstage of the Wilderness World.
        .about__text.common__text
          p The site was founded on the basis of a volunteer movement to protect and care for animals.
        .about__subtitle.common__h4title How it works 
        .about__text.common__text.common__text--high
          p The main goal is to help the animals, as well as the nature reserves and zoos where they are kept. We are currently working on video projects targeting pandas in China, eagles on an island near Los Angeles, alligators in Florida and gorillas in the Congo. These have a total of more than 1,500 mammals and reptiles.
.section.animals 
  img(src=`../images/palm.png`).animals__flower.animals__flower--left
  img(src=`../images/strel.png`).animals__flower.animals__flower--right
  .container.grid-animals
    //- .animals__control
    .animals__slider
      .animals__arrow.btn-arrow.btn.animals__right
      .animals__arrow.btn-arrow.btn.animals__left
        //- img(src=`../images/arrow.svg`).animals__left
      //- .btn.btn-arrow.animals__left
      //-   img(src=`../images/arrow.svg`).btn.btn-arrow.animals__right
      .animals__list 
        .animals__item.card
          .card__img
            img(src=`../images/panda-card.png`)
            .card__buf-img
          .card__content
            .card__desc.card__show
              p.card__name giant Pandas
              p.card__text Native to Southwest China
            .card__desc
              .card__name giant Pandas
              .card__text Native to Southwest China
            img(src=`../images/grass-eating.png`).card__icon
        .animals__item.card
          .card__img
            img(src=`../images/eagle-card.png`)
            .card__buf-img
          .card__content
            .card__desc.card__show
              p.card__name Eagles
              p.card__text Native to South America
            .card__desc
              .card__name Eagles
              .card__text Native to South America
            img(src=`../images/food.png`).card__icon
        .animals__item.card
          .card__img
            img(src=`../images/gorilla-card.png`)
            .card__buf-img
          .card__content
            .card__desc.card__show
              p.card__name Gorillas
              p.card__text Native to Congo
            .card__desc
              .card__name Gorillas
              .card__text Native to Congo
            img(src=`../images/grass-eating.png`).card__icon
        .animals__item.card
          .card__img
            img(src=`../images/sloth-card.png`)
            .card__buf-img
          .card__content
            .card__desc.card__show
              p.card__name Two-toed Sloth
              p.card__text Mesoamerica, South America
            .card__desc
              .card__name Two-toed Sloth
              .card__text Mesoamerica, South America
            img(src=`../images/grass-eating.png`).card__icon
        .animals__item.card.animals__item--hide
          .card__img
            img(src=`../images/cheetah-card.png`)
            .card__buf-img
          .card__content
            .card__desc.card__show
              p.card__name cheetahs
              p.card__text Native to Africa
            .card__desc
              .card__name cheetahs
              .card__text Native to Africa
            img(src=`../images/meat-eating.png`).card__icon
        .animals__item.card.animals__item--hide
          .card__img
            img(src=`../images/penguin-card.png`)
            .card__buf-img
          .card__content
            .card__desc.card__show
              p.card__name Penguins
              p.card__text Native to Antarctica
            .card__desc
              .card__name Penguins
              .card__text Native to Antarctica
            img(src=`../images/meat-eating.png`).card__icon
    .btn.animals__btn
      a(src='#') choose your favorite
section.donation 
  //- .container
  .donation__content
    .donation__title Pick and feed a friend
    .donation__desc
      .donation__subtitle We know the animals bring you joy, and in these extraordinary times, we’re glad.
      p.donation__text.common__text--medium.common__text.donation--hide
        |During a time when the COVID-19 epidemic is touching all of our lives, we’re proud and glad that people around the world find joy in PetStory.
      p.common__text.donation__text.mr-p-emergency.donation--hide
        |Even though the zoo has reopened, we need you now more than ever to help us deal with these problems. Please consider a gift to our #[a(href="#") Emergency Support Fund]. 
    //- .donation__list-title.block__title.block__titleH3.block__text--center How it works
    .donation__list-title How it works
    .donation__list
      .donation__item
        .donation__img-wrap
          img(src=`../images/donation-pay.png`).donation__img
        .donation__item-text Pay with card
      img(src=`../images/pen-arrow-strict.svg`).donation__buffer
      .donation__item
        .donation__img-wrap
          img(src=`../images/donation-hand.png`).donation__img
        .donation__item-text Payment goes to the zoo
      img(src=`../images/pen-arrow-strict.svg`).donation__buffer
      .donation__item
        .donation__img-wrap
          img(src=`../images/donation-monkey.png`).donation__img
        .donation__item-text Your favourite animal gets delicious dish
    .btn.donation__btn
      a(src='#') Feed a friend now
section.testimonial
  img(src='/images/testimonial-flower.png').testimonial__flower
  img(src='/images/testimonial-flower.png').testimonial__flower-mobile
  .container
    .testimonial__content 
      .testimonial__title.common__h3title 
        h4 Testimonials
      .testimonial__slider
        .testimonial__list 
          .testimonial__card.border-gradient 
            .testimonial__card-background
              .testimonial__card-head
                img(src="/images/testimonial-0.png", alt="").testimonial__card-img
                .testimonial__card-desc
                  .testimonial__card-title Michael John 
                  .testimonial__card-subtitle
                    .testimonial__card-place Local Austria
                    .testimonial__card-date Today
              p.testimonial__card-text
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas.Online zoo is one jf the ways to instill a love for animals. <br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. 
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met.
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.                
          .testimonial__card.border-gradient 
            .testimonial__card-background
              .testimonial__card-head
                img(src="/images/testimonial-1.png", alt="").testimonial__card-img
                .testimonial__card-desc
                  .testimonial__card-title Oskar Samborsky
                  .testimonial__card-subtitle
                    .testimonial__card-place Local Austria
                    .testimonial__card-date Yesterday
              p.testimonial__card-text
                |Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. <br> 
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
          .testimonial__card.border-gradient 
            .testimonial__card-background
              .testimonial__card-head
                img(src="/images/testimonial-2.png", alt="").testimonial__card-img
                .testimonial__card-desc
                  .testimonial__card-title Fredericka Michelin
                  .testimonial__card-subtitle
                    .testimonial__card-place Local Austria
                    .testimonial__card-date Yesterday
              p.testimonial__card-text
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met.
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
          .testimonial__card.border-gradient.card--hide
            .testimonial__card-background
              .testimonial__card-head
                img(src="/images/testimonial-3.png", alt="").testimonial__card-img
                .testimonial__card-desc
                  .testimonial__card-title Mila Riksha
                  .testimonial__card-subtitle
                    .testimonial__card-place Local Austria
                    .testimonial__card-date Yesterday
              p.testimonial__card-text
                |My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas.<br>
                |The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
        .testimonial__slider-scroll.border-gradient.gradient--hide
          .testimonial__slider-scroll-active
          .testimonial__slider-scroll-background
        .btn.btn--square.testimonial__btn
          a(src='#') Leave feedback

footer.footer
  .container.footer__grid
    a(href='').logo.logo-header.footer__logo.logo
      .logo-top.logo__text PetStory
      .logo-bottom 
        .logo__text online
        img(src=`../images/logo.svg`).logo__img
    //- .footer__form-wrapper
    .footer__form
      .footer__title Subscribe to our news
      .footer__form-item
        input(type="email" placeholder="Enter your email").input.input--dark.input-footer
        input(type='submit' pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
    required value='Submit').btn-submit.footer__submit
          //- a(src='#') 
    .btn.btn--square.footer__btn
      a(src='#') donate for volunteers
    .social__list 
      a(href='https://facebook.com/').social__item 
        .social__item-img
          img(src="/images/facebook_icon.png", alt="")
        p.social__item-text Facebook
      a(href='https://twitter.com/').social__item 
        .social__item-img
          img(src="/images/twitter.png", alt="")
        p.social__item-text Twitter
      a(href='https://instagram.com/').social__item
        .social__item-img
          img(src="/images/instagram.png", alt="")
        p.social__item-text Instagram
      a(href='https://youtube.com/').social__item 
        .social__item-img
          img(src="/images/youtube.png", alt="")
        p.social__item-text YouTube
    .menu.footer__menu
      .menu__list.menu__list--footer
        li.menu__item.menu__item--active
          a(src='#') About
        li.menu__item
          a(src='#') Map
        li.menu__item
          a(src='#') Zoos
        li.menu__item
          a(src='#') Contact us
    a(href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online").footer__author
      p.common__textThin.footer__author-line Designed by Alisa Samborskaya 
      p.common__textThin.footer__author-line ©RSSchool & ©Yem Digital 2021