mixin range()
  #form-wrapper
    #debt-amount-slider
    .range
      .range__container
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio01" name="radio").radio-input
          label(for="radio01").radio__label
            span.radio__mark.radio__mark-range
            p.range__step-text 2000
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio02" name="radio").radio-input
          label(for="radio02").radio__label
            span.radio__mark.radio__mark-range         
            p.range__step-text 1000
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio03" name="radio").radio-input
          label(for="radio03").radio__label
            span.radio__mark.radio__mark-range
            p.range__step-text 500
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio04" name="radio").radio-input
          label(for="radio04").radio__label
            span.radio__mark.radio__mark-range
            p.range__step-text 250
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio05" name="radio").radio-input
          label(for="radio05").radio__label
            span.radio__mark.radio__mark-range
            p.range__step-text 100
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio06" name="radio").radio-input
          label(for="radio06").radio__label
            span.radio__mark.radio__mark-range
            p.range__step-text 50
        .radio__wrapper.range__radio.radio
          input(type="radio" id="radio07" name="radio").radio-input
          label(for="radio07").radio__label
            span.radio__mark.radio__mark-range      
            p.range__step-text 25