.card {
  border: 1px solid $colorOrangeHover;
  border-radius: $borderCard;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  z-index: 5;
  position: relative;
  width: 100%;
  background: $colorWhite;
  // max-height: 425px;
  transition: all 0.2s ease-in;
  @include respond(smallDesktop) {
    // max-height: 354px;
  }
  @include respond(tablet) {
    max-height: 332px;
  }
  @include respond(mobile) {
    height: 332px;
  }
  &__show {
    position: absolute;
    z-index: 10;
    top: 150%;
    opacity: 0;
    transition: all 0.2s ease-in;
    p {
      color: white;
    }
  }
  &:hover .card__show {
    top: 50%;
    opacity: 1;
  }
  &:hover .card__img img {
    // max-width: none;
    // max-height: none;
    // width: 100px;
    // width: calc(100% + 20px);
    // height: calc(100% + 20px);
    filter: brightness(60%);
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    // max-height: 100%;
  }
  &__img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
    @include respond(smallDesktop) {
      max-height: 294px;
    }
    @include respond(tablet) {
      height: auto;
    }
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      object-fit: cover;
      overflow: hidden;
      transition: all 0.2s ease-in;
      &:hover {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        // transform: scale(2);
      }
    }
  }
  &__buf-img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  &__name {
    @include font-source-sans('Roboto', 16px, $colorBlack, 500, 22.4px);
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 4px 8px 13px 14px;
    padding: 8px 8px 11px 14px;
    @include respond(smallDesktop) {
      padding-bottom: 11px;
    }
    @include respond(tablet) {
      // max-height: 332px;

      padding: 2px 10px;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__name {
    @include respond(tablet) {
      // max-height: 332px;
      font-size: 12.4695px;
      line-height: 120%;
      text-transform: uppercase;
    }
  }
  &__text {
    @include font-source-sans('Roboto', 15px, $colorBlack, 300, 18px);
    @include respond(tablet) {
      // max-height: 332px;
      line-height: 140%;
      font-size: 11.6901px;
    }
  }
  &__icon {
    @include respond(mobile) {
      // max-height: 332px;
      position: relative;
      transform: scale(0.75);
      left: 11px;
    }
  }
}
