$paragraphFont: 15px Arial, sans-serif;
$titleFont: 44px Georgia;
$titleFontLogo: 32px Georgia;
$titleFontBig: 44px Georgia;
$titleFontMid: 35px Georgia;
$buttonFont: 17px Georgia, sans-serif;
$cardNameFont: 20px Georgia, sans-serif;
// background-color: rgba(241, 205, 179, 1);
$bgStart: url('../images/start-background.png');
$bgGradient: linear-gradient(146deg, rgba(125, 110, 99, 1) 0%, rgba(97, 63, 24, 1) 0%, rgba(2, 0, 36, 1) 97%);

$bgColorDark: #f6f6f6;
$bgColorBright: #ffffff;
$bgCard: #fafafa;

$textColorDark: #cdcdcd;
$titleColor: #545454;
$buttonTextColor: #292929;
$activeColor: #f1cdb3;
