@import '../../mixin';
// @import '../../variables';

.btn {
  @extend %btnMedium;
  cursor: pointer;
  max-width: 298px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: $btnBorderRadius;
  padding: 15px;
  background: $colorOrange;
  transition: background 0.2s ease;
  overflow: hidden;
  position: relative;

  a {
    color: $colorWhite;
  }
  &--active {
    background-color: $colorGreen;
  }
  &--disabled {
    background-color: $colorGray;
  }
  &::before {
    left: 0;
    height: 100%;
    content: '';
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    background: $colorOrangeHover;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
  &:hover::before {
    // background-color: $colorOrangeHover;
    opacity: 1;
  }
  &:active::before {
    opacity: 1;

    background: $colorGreen;
  }
  &-arrow {
    max-width: 62px;
    max-height: 62px;
    height: 100%;
    width: 100%;
    background: $colorOrange;
    padding: 15px;
    border-radius: 100%;
    &--active {
      background: $colorOrange;
    }
  }

  a {
    position: relative;
    z-index: 5;
    top: 2px;
  }

  &-plus {
    padding: 11px;
    &--active {
      border: 1px solid $colorGreen;
    }
  }

  &--square {
    border-radius: 5px;
    height: 54px;
    max-width: 298px;
    width: 100%;
    // display: flex;
    a {
      width: 100%;
      top: 0;
    }
  }

  &-submit {
    @extend %bodyRegular;
    display: inline-block;
    border: 1px solid $colorBlackBlue;
    background: $colorGrayLight;
    padding: 10px 38px;
    border-radius: 5px;
    cursor: pointer;
    &--active {
      border-color: $colorGreen;
      color: $colorGreen;
    }
    &--disabled {
      border-color: $colorRed;
      color: $colorRed;
    }
    &:active {
      color: $colorGreen;
    }
  }
}
