// @import '../../variables';

.input {
  @extend %btnMedium;
  color: $colorBlack;
  text-transform: capitalize;
  border-radius: 2px;
  padding: 10px;
  border-width: 2px;
  border-color: rgba(249, 128, 75, 1);
  // border-image: $colorOrange;
  outline: none;
  border-style: solid;
  // color: pink;
  color: pink;
  // border: 10px solid pink;
  border-image: repeating-linear-gradient(45deg, #f9804b 1.49%, #fe9013 101.44%) -1;
  border-image-width: 1px;

  &--active {
    color: $colorGreen;
  }
  &--transparent {
    background-color: transparent;
    border: 1px solid $colorGrayBorder;
    color: $colorGrayBorder;
    border-radius: 5px;
  }

  &--dark {
    background-color: $colorBlack;
    color: $colorGray4;
  }
  &--disabled {
    color: $colorRed;
    border-radius: $borderInput;
  }

  &__currency {
    &-dollar {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 10px;
      height: 20px;
    }
  }
}
// subscribe--input:invalid ~ .subscribe--button {
// input[type='.btn-submit']:invalid {
//   color: $colorRed;
// }
input[type='email']:invalid {
  border-image: repeating-linear-gradient(
      45deg,
      $colorRed 1%,
      $colorRed 101.44%
    ) -1;
  // border-width: 10px;
  border-radius: 2px;
  color: $colorRed;
}
input[type='email']:invalid ~ input[type='submit'] {
  border-image: repeating-linear-gradient(
      45deg,
      $colorRed 1%,
      $colorRed 101.44%
    ) -1;
  // border-width: 10px;
  color: $colorRed;
}
input[type='email']:focus {
  // background-color: yellow;
  color: $colorGreen;
  border-image: repeating-linear-gradient(
      45deg,
      $colorGreen 1%,
      $colorGreen 101.44%
    )
    1;
  // border-radius: 2px;
  // border: 1px solid red;
  // box-shadow: 0 0 10px #719ece;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
