// @import '../../variables';

.logo {
  position: relative;
  // padding: 4px;
  padding: 3.55px 4.75px;
  border: 1px solid $colorWhite;
  display: flex;
  flex-direction: column;
  max-width: 82px;
  max-height: 52px;
  border-radius: 2px;
  color: $colorWhite;
  line-height: 22.82px;
  align-items: center;
  @include font-source-sans('Roboto', 19.0145px, $colorWhite, 400, 23.74px);
  font-style: normal;
  // font-weight: 400;
  // font-size: 19.0145px;
  // line-height: 23px;

  &-header {
    margin: 0px 6px 1px -1px;
    @include respond(smallDesktop) {
      margin: 0px 1px 1px 1px;
    }
    @include respond(tablet) {
      padding: 0;
      border: none;
      margin: 0px 5px -4px -1px;
    }
    @include respond(mobile) {
      margin: 0px 0px -4px 0px;
    }
  }
  &-bottom {
    justify-content: center;
    align-self: center;
    position: relative;
  }
  &__text {
    text-align: center;
    // @extend %logoMedium;
    // line-height: 22px;
    &-header {
      // font-family: 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 19.0145px;
      line-height: 23px;
      // /* or 23px */
      // font-size: 19.0145px;
      // line-height: 23px;
      // font-weight: 400;
      @include respond(tablet) {
        font-size: 12.29px;
        line-height: 120%;
        text-align: center;
      }
      @include respond(mobile) {
        font-size: 12.29px;
        line-height: 120%;
        text-align: center;
      }
    }
  }
  &__img {
    position: absolute;
    // width: 9px;
    // height: 15px;
    // bottom: 2px;
    // left: -5px;
    // height: 34px;
    width: 12px;
    height: 15px;
    bottom: -1px;
    left: -5px;
    height: 34px;
    @include respond(smallDesktop) {
      // width: 9px;
      // height: 15px;
      // bottom: 2px;
      // left: -5px;
      // height: 34px;
    }
    @include respond(tablet) {
      width: 8px;
      height: 15px;
      bottom: 3px;
      left: -4px;
    }
  }

  &--filter {
    display: none;
    max-width: 66px;
    height: 42px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    filter: $filterSvg;
    font-size: 15.21px;
    line-height: 18.25px;
    border: 1px solid $colorOrange;

    @include respond(tablet) {
      display: block;
      img {
        width: 15px;
        height: 15px;
        bottom: 6px;
        left: 0px;
      }
    }
  }
}
