// @import '../../variables';

.radio {
  input[type='radio'] {
    display: none;
  }
  &__mark {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    &-range {
      position: relative;
      z-index: 2;
      width: 10px;
      height: 10px;
      background-color: yellow;
      border-radius: 50%;
      @include respond(mobile) {
        width: 5px;
        height: 5px;
        // padding-bottom: 30px;
      }
    }
    &--transparent {
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid $colorOrangeHover;
    }
  }

  &-input + label .radio__mark-range {
    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      border: 2px solid $colorOrangeHover;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      transition: $transitionSimple;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
  &-input:checked + label .radio__mark-range {
    &::after {
      opacity: 1;
    }
    &::before {
      content: '';
      position: absolute;
      width: 23px;
      height: 23px;
      border: 2px solid $colorOrangeHover;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  &-input:checked + label .range__step-text::before {
    filter: invert(57%) sepia(65%) saturate(4233%) hue-rotate(2deg)
      brightness(95%) contrast(93%);
  }
  &-input:checked + label .range__step-text {
    color: $colorOrangeHover;
  }
  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &-input:checked + .radio__mark {
    background-color: $colorGreen;
    border: 1px solid $colorGreen;
  }
}
