// @import '../../variables';

.range {
  background-color: #333b41;
  height: 27px;
  border-radius: 2px;
  padding: 8px 26px;
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $colorBlackGray;
    }
  }

  &__label {
    span {
      align-self: center;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  &__step-text {
    margin-left: -17px;
    margin-top: 1px;
    @extend %btnMedium;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    /* or 36px */

    text-transform: uppercase;
    position: absolute;
    top: calc(100% + 20px);
    color: $colorBlackBlue;
    &--active {
      color: $colorOrangeTitle;
    }
    &::before {
      content: url('../images/dollar-step.svg');
      position: absolute;
      right: 101%;
      bottom: 14px;
      height: 20px;
    }
  }
}
