// @import '../../variables';

.range {
  background-color: #333b41;
  height: 27px;
  border-radius: 2px;
  padding: 8px 26px;
  @include respond(smallDesktop) {
    padding: 8px 12px;
  }
  @include respond(tablet) {
    padding: 8px 35px;
  }
  @include respond(mobile) {
    padding: 6px 17px;
    height: 13.5px;
  }
  &-desktop {
    @include respond(smallDesktop) {
      display: none;
    }
  }
  &-tablet {
    @include respond(tablet) {
      display: none;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include respond(mobile) {
      top: -2px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: $colorBlackGray;
    }
  }

  &__label {
    span {
      align-self: center;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  &__step-text {
    margin-left: -17px;
    margin-top: 1px;
    @extend %btnMedium;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    @include respond(smallDesktop) {
      margin-left: 1px;
    }
    @include respond(tablet) {
      margin-left: -6px;
    }
    @include respond(mobile) {
      font-size: 13px;
      line-height: 18px;
      margin-top: -10px;
      margin-left: -3px;
    }

    text-transform: uppercase;
    position: absolute;
    top: calc(100% + 20px);
    color: $colorBlackBlue;
    &--active {
      color: $colorOrangeTitle;
    }
    &::before {
      content: url('../images/dollar-step.svg');
      position: absolute;
      right: 101%;
      bottom: 14px;
      height: 20px;
      @include respond(mobile) {
        // height: 10px;
        bottom: 0;
        right: 89%;
        transform: scale(0.6);
      }
    }
  }
}
